<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cp">
	
	<select id="list" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM (
			SELECT A.CAMPNO
				, A.CAMPNAME
				, A.CAMPTYPE
				, CASE WHEN A.CAMPTYPE = 10 THEN '세미나'
			  		  WHEN A.CAMPTYPE = 20 THEN '뉴스레터'
			  		  WHEN A.CAMPTYPE = 30 THEN '테스트' END AS CAMPTYPE_
				, A.CAMPSTEP
				, CASE WHEN A.CAMPSTEP = 0 THEN '생성'
			  		  WHEN A.CAMPSTEP = 1 THEN '추출'
			  		  WHEN A.CAMPSTEP = 2 THEN '발송'
			  		  WHEN A.CAMPSTEP = 3 THEN '종료' END AS CAMPSTEP_
			  	, A.STARTDATE,ENDDATE
				, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
				, A.CAMPDESC 
				, CONVERT(nvarchar,A.STARTDATE,23) + '-' + CONVERT(nvarchar,A.ENDDATE,23) AS CAMPDATE_
				,ROW_NUMBER() OVER(ORDER BY A.CAMPNO DESC) AS ROWNUM
			FROM Crud_SaaS.dbo.T_CAMPAIGN A
			WHERE SITEID = #{siteid}
			AND ISDELETE = 0
			) X 
		WHERE X.ROWNUM Between #{startRowNum} and #{endRowNum}
	</select>
		<select id="detail" parameterType="campaignDto" resultType="hashMap">
		SELECT 
		A.CAMPNO
		,A.CAMPNAME
		,A.CAMPTYPE
		,CASE WHEN A.CAMPTYPE = 10 THEN '세미나'
			  WHEN A.CAMPTYPE = 20 THEN '뉴스레터'
			  WHEN A.CAMPTYPE = 30 THEN '테스트' END AS CAMPTYPE_
		,A.CAMPSTEP
		,CASE WHEN A.CAMPSTEP = 0 THEN '생성'
			  WHEN A.CAMPSTEP = 1 THEN '추출'
			  WHEN A.CAMPSTEP = 2 THEN '발송'
			  WHEN A.CAMPSTEP = 3 THEN '종료' END AS CAMPSTEP_
		, CONVERT(nvarchar,A.STARTDATE,23) AS STARTDATE
		, CONVERT(nvarchar,A.ENDDATE,23) AS ENDDATE
		, CONVERT(nvarchar,A.STARTDATE,23) + '~' + CONVERT(nvarchar,A.ENDDATE,23) AS CAMPDATE_
		,A.OWNER
		,(SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
		,A.CAMPDESC
			FROM Crud_SaaS.dbo.T_CAMPAIGN A
			WHERE A.SITEID = #{siteid}
			AND A.CAMPNO = #{campno}
			
	</select>
	
	<select id="totalRows" parameterType="hashMap" resultType="int">
	SELECT count(*)
			FROM Crud_SaaS.dbo.T_CAMPAIGN
			WHERE SITEID = #{siteid}
			AND ISDELETE = 0
	</select>
	
	<insert id="insert" parameterType="campaignDto">
		<selectKey keyProperty="campno"  resultType="integer" order="AFTER">
		
			INSERT INTO Crud_SaaS.dbo.T_CAMPAIGN
			(
				CAMPNAME
				,CAMPTYPE
				,CAMPSTEP
				,STARTDATE
				,ENDDATE
				,OWNER
				,CAMPDESC
				,SITEID
				,ISDELETE
				,REGDATE
				,REGUSER
				,EDTDATE
				,EDTUSER
			)VALUES(
			#{campname}
			,#{camptype}
			,#{campstep}
			,#{startdate}
			,#{enddate}
			,#{owner}
			,#{campdesc}
			,#{siteid}
			,0
			,getDate()
			,#{reguser}
			,getDate()
			,#{edtuser}
			)
			SELECT SCOPE_IDENTITY()
		</selectKey>
	</insert>
		
	<update id="update" parameterType="userDto">
		UPDATE Crud_SaaS.dbo.T_CAMPAIGN
			SET 
				CAMPNAME = #{campname}
				,CAMPTYPE = #{camptype}
				,STARTDATE = #{startdate}
				,ENDDATE = #{enddate}
				,OWNER = #{owner}
				,CAMPDESC = #{campdesc}
				,EDTDATE = getDate()
				,EDTUSER = #{edtuser}
			WHERE SITEID = #{siteid}
			AND CAMPNO = #{campno}
	</update>
	
	<update id="delete" parameterType="userDto">
		UPDATE Crud_SaaS.dbo.T_CAMPAIGN
			SET
				ISDELETE = '1'
			WHERE CAMPNO = #{campno}
	</update>
	
	<insert id="targetCustInsert" parameterType="hashMap">
		INSERT INTO Crud_SaaS.dbo.T_CAMP_TARGET_CUST
		(
			SITEID
			,CUSTNO
			,CUSTNAME
			,MOBILENO
			,EMAIL
			,CAMPNO
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
		)
		SELECT
			SITEID
			,CUSTNO
			,CUSTNAME 
			,MOBILE1 + MOBILE2 + MOBILE3 AS MOBILE
			,EMAIL
			,#{campno}
			,getDate()
			,#{userno}
			,getDate()
			,#{userno}
		FROM Crud_SaaS.dbo.CU100010
		WHERE SITEID = #{siteid}
		AND INFOAGREE = '0'
	<if test="sex != null">
		AND  SEX = #{sex}
	</if>
	<if test="custgubun != null">
		AND CUSTGUBUN = #{custgubun}
	</if>
	<if test="custgrade != null">
		AND CUSTGRADE = #{custgrade}
	</if>
	<if test="birth != null">
		AND BIRTH = #{birth}
	</if>
	<if test="actgrade != null">	
		AND ACTGRADE = #{actgrade}
	</if>
	<if test="regdate1 != null">
		AND REGDATE <![CDATA[>]]>= #{regdate1}
	</if>
	<if test="regdate2 != null">
		AND REGDATE <![CDATA[<]]>= #{regdate2}
	</if>
	</insert>
	
	<insert id="targetInsert" parameterType="hashMap">
		INSERT INTO Crud_SaaS.dbo.T_CAMP_TARGET
		(
			NAME
			,VALUE
			,CAMPNO
			,SITEID
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
		)VALUES(
		#{name}
		,#{value}
		,#{campno}
		,#{siteid}
		,getDate()
		,#{userno}
		,getDate()
		,#{userno}
		)
	</insert>
	
	<select id="targetHistCount" parameterType="hashMap" resultType="int">
		SELECT COUNT(*) 
			FROM (
					SELECT CAMPNO  
						FROM Crud_SaaS.dbo.T_CAMP_TARGET_HIST 
						WHERE SITEID = #{siteid}
                        AND CAMPNO = #{campno} GROUP BY CAMPNO) X
	</select>
	
	<delete id="targetDelete" parameterType="hashMap">
		DELETE FROM Crud_SaaS.dbo.T_CAMP_TARGET
		WHERE SITEID = #{siteid}
		AND CAMPNO = #{campno}
	</delete>
	
	<insert id="targetHistInsert" parameterType="hashMap">
		INSERT INTO Crud_SaaS.dbo.T_CAMP_TARGET_HIST
		(
			NAME
			,VALUE
			,CAMPNO
			,SITEID
			,CAMPORDER
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
		)VALUES(
		#{name}
		,#{value}
		,#{campno}
		,#{siteid}
		,#{order}
		,getDate()
		,#{userno}
		,getDate()
		,#{userno}
		)
	</insert>
	
</mapper>