<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cp">
	
	<select id="list" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM (
			SELECT A.CAMPNO
				, A.CAMPNAME
				, A.CAMPTYPE
				, CASE WHEN A.CAMPTYPE = 10 THEN '세미나'
			  		  WHEN A.CAMPTYPE = 20 THEN '뉴스레터'
			  		  WHEN A.CAMPTYPE = 30 THEN '테스트' END AS CAMPTYPE_
				, A.CAMPSTEP
				, CASE WHEN A.CAMPSTEP = 0 THEN '생성'
			  		  WHEN A.CAMPSTEP = 1 THEN '추출'
			  		  WHEN A.CAMPSTEP = 2 THEN '발송'
			  		  WHEN A.CAMPSTEP = 3 THEN '종료' END AS CAMPSTEP_
			  	, A.STARTDATE,ENDDATE
				, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
				, A.CAMPDESC 
				, CONVERT(nvarchar,A.STARTDATE,23) + '-' + CONVERT(nvarchar,A.ENDDATE,23) AS CAMPDATE_
				,ROW_NUMBER() OVER(ORDER BY A.CAMPNO DESC) AS ROWNUM
			FROM Crud_SaaS.dbo.T_CAMPAIGN A
			WHERE SITEID = #{siteid}
			AND ISDELETE = 0
			) X 
		WHERE X.ROWNUM Between #{startRowNum} and #{endRowNum}
	</select>
		<select id="detail" parameterType="campaignDto" resultType="hashMap">
		SELECT 
		A.CAMPNO
		,A.CAMPNAME
		,A.CAMPTYPE
		,CASE WHEN A.CAMPTYPE = 10 THEN '세미나'
			  WHEN A.CAMPTYPE = 20 THEN '뉴스레터'
			  WHEN A.CAMPTYPE = 30 THEN '테스트' END AS CAMPTYPE_
		,A.CAMPSTEP
		,CASE WHEN A.CAMPSTEP = 0 THEN '생성'
			  WHEN A.CAMPSTEP = 1 THEN '추출'
			  WHEN A.CAMPSTEP = 2 THEN '발송'
			  WHEN A.CAMPSTEP = 3 THEN '종료' END AS CAMPSTEP_
		, CONVERT(nvarchar,A.STARTDATE,23) AS STARTDATE
		, CONVERT(nvarchar,A.ENDDATE,23) AS ENDDATE
		, CONVERT(nvarchar,A.STARTDATE,23) + '~' + CONVERT(nvarchar,A.ENDDATE,23) AS CAMPDATE_
		,A.OWNER
		,(SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
		,A.CAMPDESC
			FROM Crud_SaaS.dbo.T_CAMPAIGN A
			WHERE A.SITEID = #{siteid}
			AND A.CAMPNO = #{campno}
			
	</select>
	
	<select id="totalRows" parameterType="hashMap" resultType="int">
	SELECT count(*)
			FROM Crud_SaaS.dbo.T_CAMPAIGN
			WHERE SITEID = #{siteid}
			AND ISDELETE = 0
	</select>
	
	<insert id="insert" parameterType="campaignDto">
		<selectKey keyProperty="campno"  resultType="integer" order="AFTER">
		
			INSERT INTO Crud_SaaS.dbo.T_CAMPAIGN
			(
				CAMPNAME
				,CAMPTYPE
				,CAMPSTEP
				,STARTDATE
				,ENDDATE
				,OWNER
				,CAMPDESC
				,SITEID
				,ISDELETE
				,REGDATE
				,REGUSER
				,EDTDATE
				,EDTUSER
			)VALUES(
			#{campname}
			,#{camptype}
			,#{campstep}
			,#{startdate}
			,#{enddate}
			,#{owner}
			,#{campdesc}
			,#{siteid}
			,0
			,getDate()
			,#{reguser}
			,getDate()
			,#{edtuser}
			)
			SELECT SCOPE_IDENTITY()
		</selectKey>
	</insert>
		
	<update id="update" parameterType="userDto">
		UPDATE Crud_SaaS.dbo.T_CAMPAIGN
			SET 
				CAMPNAME = #{campname}
				,CAMPTYPE = #{camptype}
				,STARTDATE = #{startdate}
				,ENDDATE = #{enddate}
				,OWNER = #{owner}
				,CAMPDESC = #{campdesc}
				,EDTDATE = getDate()
				,EDTUSER = #{edtuser}
			WHERE SITEID = #{siteid}
			AND CAMPNO = #{campno}
	</update>
	
	<update id="delete" parameterType="userDto">
		UPDATE Crud_SaaS.dbo.T_CAMPAIGN
			SET
				ISDELETE = '1'
			WHERE CAMPNO = #{campno}
	</update>
	
	<delete id="targetCustDelete" parameterType="hashMap">
		DELETE Crud_SaaS.dbo.T_CAMP_TARGET_CUST
			WHERE SITEID=  #{siteid}
			AND CAMPNO = #{campno}
	</delete>
	
	<insert id="targetCustInsert" parameterType="hashMap">
		INSERT INTO Crud_SaaS.dbo.T_CAMP_TARGET_CUST
		(
			SITEID
			,CUSTNO
			,CUSTNAME
			,MOBILENO
			,EMAIL
			,CAMPNO
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
		)
		SELECT
			SITEID
			,CUSTNO
			,CUSTNAME 
			,MOBILE1 + MOBILE2 + MOBILE3 AS MOBILE
			,EMAIL
			,#{campno}
			,getDate()
			,#{userno}
			,getDate()
			,#{userno}
		FROM Crud_SaaS.dbo.CU100010
		WHERE SITEID = #{siteid}
		AND INFOAGREE = '0'
	<if test="sex != null">
		AND  SEX = #{sex}
	</if>
	<if test="custgubun != null">
		AND CUSTGUBUN = #{custgubun}
	</if>
	<if test="custgrade != null">
		AND CUSTGRADE = #{custgrade}
	</if>
	<if test="birth != null">
		AND SUBSTRING(BIRTH,6,2) = #{birth}
	</if>
	<if test="actgrade != null">	
		AND ACTGRADE = #{actgrade}
	</if>
	<if test="regdate1 != null">
		AND REGDATE <![CDATA[>]]>= #{regdate1}
	</if>
	<if test="regdate2 != null">
		AND REGDATE <![CDATA[<]]>= #{regdate2}
	</if>
	<if test="age1 != null">
		AND Year(getDate())-Year(BIRTH) <![CDATA[>]]>= #{age1}
	</if>
	<if test="age2 != null">
		AND Year(getDate())-Year(BIRTH) <![CDATA[<]]>= #{age2}
	</if>
	<if test ="addr11 != null">
		AND LEFT(HOMADDR2,2) = #{addr11}
	</if>
	
	</insert>
	
	<insert id="targetInsert" parameterType="hashMap">
		INSERT INTO Crud_SaaS.dbo.T_CAMP_TARGET
		(
			NAME
			,VALUE
			,CAMPNO
			,SITEID
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
		)VALUES(
		#{name}
		,#{value}
		,#{campno}
		,#{siteid}
		,getDate()
		,#{userno}
		,getDate()
		,#{userno}
		)
	</insert>
	
	<select id="targetHistCount" parameterType="hashMap" resultType="int">
		SELECT COUNT(*) 
			FROM (
					SELECT CAMPNO  
						FROM Crud_SaaS.dbo.T_CAMP_TARGET_HIST 
						WHERE SITEID = #{siteid}
                        AND CAMPNO = #{campno} GROUP BY CAMPNO) X
	</select>
	
	<delete id="targetDelete" parameterType="hashMap">
		DELETE FROM Crud_SaaS.dbo.T_CAMP_TARGET
		WHERE SITEID = #{siteid}
		AND CAMPNO = #{campno}
	</delete>
	
	<insert id="targetHistInsert" parameterType="hashMap">
		INSERT INTO Crud_SaaS.dbo.T_CAMP_TARGET_HIST
		(
			NAME
			,VALUE
			,CAMPNO
			,SITEID
			,CAMPORDER
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
		)VALUES(
		#{name}
		,#{value}
		,#{campno}
		,#{siteid}
		,#{order}
		,getDate()
		,#{userno}
		,getDate()
		,#{userno}
		)
	</insert>
	
	<select id="targetList" parameterType="campaignDto" resultType="hashMap">
		SELECT A.NAME
			, ISNULL(C.CODENAME,A.VALUE) AS VALUE
		FROM T_CAMP_TARGET A
        LEFT OUTER JOIN T_CODE B ON B.CODEVAL = CASE WHEN SUBSTRING(A.NAME,0,5) = 'addr' THEN SUBSTRING(A.NAME,0,6) ELSE A.NAME END AND B.CODEGRP = 'CAMP'
        LEFT OUTER JOIN T_CODE C ON C.CODEGRP = CASE WHEN SUBSTRING(A.NAME,0,5) = 'addr' THEN SUBSTRING(A.NAME,0,6) ELSE A.NAME END AND C.CODEVAL = A.VALUE
        
        WHERE A.CAMPNO = #{campno}
        AND A.SITEID = #{siteid}
	</select>
	
	<select id="targetCustCnt" parameterType="campaignDto" resultType="int">
		SELECT COUNT(CUSTNO) AS CNT
			FROM Crud_SaaS.dbo.T_CAMP_TARGET_CUST
			WHERE SITEID = #{siteid}
            AND CAMPNO = #{campno}
	</select>
	
	<select id="targetCustList" parameterType="campaignDto" resultType="hashMap">
		SELECT 
			 CUSTNO
			,CUSTNAME
			,MOBILENO
			,EMAIL
		FROM Crud_SaaS.dbo.T_CAMP_TARGET_CUST
		WHERE SITEID = #{siteid}
		AND CAMPNO = #{campno}
	</select>
	
	<insert id="formInsert" parameterType="campaignFormDto">
			INSERT INTO Crud_SaaS.dbo.T_CAMP_FORM
				(
				CAMPNO
				,SITEID
				,RETURNMAIL
				,SENDTYPE
				,SENDDATE
				,WEEK
				,DAY
				,STARTDATE
				,ENDDATE
				,SENDHOUR
				,SENDMINUTE
				,TITLE
				,SENDDESC
				,CONTENTSNO
				,TESTMAIL
				,REGDATE
				,REGUSER
				,EDTDATE
				,EDTUSER
				)VALUES(
				#{campno}
				,#{siteid}
				,#{returnmail}
				,#{sendtype}
				,#{senddate}
				,#{week}
				,#{day}
				,#{startdate}
				,#{enddate}
				,#{sendhour}
				,#{sendminute}
				,#{title}
				,#{senddesc}
				,#{contentsno}
				,#{testmail}
				,getDate()
				,#{reguser}
				,getDate()
				,#{edtuser}
				)
	</insert>
	
	<update id="formUpdate" parameterType="campaignFormDto">
		UPDATE Crud_SaaS.dbo.T_CAMP_FORM
			SET RETURNMAIL = #{returnmail}
			, SENDTYPE = #{sendtype}
			, SENDDATE = #{senddate}
			, WEEK = #{week}
			, DAY = #{day}
			, STARTDATE = #{startdate}
			, ENDDATE = #{enddate}
			, SENDHOUR = #{sendhour}
			, SENDMINUTE = #{sendminute}
			, TITLE = #{title}
			, SENDDESC = #{senddesc}
			, TESTMAIL = #{testmail}
			, CONTENTSNO = #{contentsno}
			, EDTDATE = getDate()
			, EDTUSER = #{edtuser}
		WHERE NO = #{no}
		AND CAMPNO = #{campno}
		AND SITEID = #{siteid}
	</update>
	
	<select id="formRead" parameterType="campaignFormDto" resultType="hashMap">
		SELECT A.NO
				,A.CAMPNO
				,A.SITEID
				,A.RETURNMAIL
				,A.SENDTYPE
				,CASE WHEN A.SENDTYPE = 1 THEN '즉시발송'
					  WHEN A.SENDTYPE = 2 THEN '예약발송'
					  WHEN A.SENDTYPE = 3 THEN '요일발송'
					  WHEN A.SENDTYPE = 4 THEN '기간발송' END AS SENDTYPE_
				,CONVERT(nvarchar,A.SENDDATE,23) AS SENDDATE_
				,A.WEEK
				,CASE WHEN A.WEEK = 1 THEN '1주차'
					  WHEN A.WEEK = 2 THEN '2주차'
					  WHEN A.WEEK = 3 THEN '3주차'
					  WHEN A.WEEK = 4 THEN '4주차'
					  WHEN A.WEEK = 5 THEN '5주차' END WEEK_
				,A.DAY
				,CASE WHEN A.DAY = 1 THEN '일요일'
					  WHEN A.DAY = 2 THEN '월요일'
					  WHEN A.DAY = 3 THEN '화요일'
					  WHEN A.DAY = 4 THEN '수요일'
					  WHEN A.DAY = 5 THEN '목요일'
					  WHEN A.DAY = 6 THEN '금요일'
					  WHEN A.DAY = 7 THEN '토요일' END DAY_  
				,CONVERT(nvarchar,A.STARTDATE,23) AS STARTDATE_
				,CONVERT(nvarchar,A.ENDDATE,23) AS ENDDATE_
				,A.SENDHOUR
				,A.SENDMINUTE
				,A.TITLE
				,A.SENDDESC
				,A.TESTMAIL
				,A.CONTENTSNO
				,(SELECT TITLE FROM Crud_SaaS.dbo.T_CAMP_CONTENTS WHERE NO = A.CONTENTSNO) AS CONTENTSNO_
		FROM Crud_SaaS.dbo.T_CAMP_FORM A
		WHERE SITEID = #{siteid}
		AND CAMPNO = #{campno}
	</select>
	
	<insert id="testSend" parameterType="hashMap">
		INSERT INTO Crud_SaaS.dbo.T_MAIL(
		SITEID
		,FROMEMAIL
		,TOEMAIL
		,SUBJECT
		,CONTENT
		,RLTDATE
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		)VALUES(
		#{siteid}
		,#{returnmail}
		,#{testmail}
		,#{title}
		,#{senddesc}
		,getDate()
		,getDate()
		,#{userno}
		,getDate()
		,#{userno}
		)

	</insert>
	
	<select id="contentsList" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM(
			SELECT 
			A.NO
			, A.FORMTYPE
			, CASE WHEN A.FORMTYPE = 1 THEN 'EMAIL'
				   WHEN A.FORMTYPE = 2 THEN 'SMS/LMS'
				   WHEN A.FORMTYPE = 3 THEN 'MMS' END FORMTYPE_
			, A.TITLE, A.CONTENT, A.PURP
			, A.SITEID, A.ISDELETE
			, CONVERT(nvarchar,A.REGDATE,23) AS REGDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.REGUSER) AS REGUSER_
			, CONVERT(nvarchar,A.EDTDATE,23) AS EDTDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.EDTUSER) AS EDTUSER_
			, ROW_NUMBER() OVER(ORDER BY NO DESC) AS ROWNUM
			FROM Crud_SaaS.dbo.T_CAMP_CONTENTS A
			WHERE A.SITEID = #{siteid}
			AND A.ISDELETE = 0
			) X 
			WHERE X.ROWNUM Between #{startRowNum} and #{endRowNum}
			<if test="title != null">
				AND  TITLE LIKE '%'+#{title} +'%'
			</if>
			<if test="formtype != null">
				AND  FORMTYPE = #{formtype}
			</if>
	</select>
	
	<select id="contentsTotalRows" parameterType="hashMap" resultType="int">
		SELECT COUNT(NO) 
		FROM Crud_SaaS.dbo.T_CAMP_CONTENTS
		WHERE SITEID = #{siteid}
		AND ISDELETE = 0
		<if test="title != null">
			AND  TITLE LIKE '%' + #{title} + '%'
		</if>
		<if test="formtype != null">
			AND  FORMTYPE = #{formtype}
		</if>
	</select>
	
	<insert id="contentsInsert" parameterType="campaignContentsDto">
		<selectKey keyProperty="no"  resultType="integer" order="AFTER">
		
		INSERT INTO Crud_SaaS.dbo.T_CAMP_CONTENTS(
			FORMTYPE
			,TITLE
			,CONTENT
			,PURP
			,SITEID
			,ISDELETE
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
		)VALUES(
		#{formtype}
		,#{title}
		,#{content}
		,#{purp}
		,#{siteid}
		,0
		,getDate()
		,#{reguser}
		,getDate()
		,#{edtuser}
		)
		
		SELECT SCOPE_IDENTITY()
		</selectKey>
	</insert>
	
	<select id="contentsRead" parameterType="campaignContentsDto" resultType="hashMap">
		SELECT A.NO
			, A.FORMTYPE
			, CASE WHEN A.FORMTYPE = 1 THEN 'EMAIL'
				   WHEN A.FORMTYPE = 2 THEN 'SMS/LMS'
				   WHEN A.FORMTYPE = 3 THEN 'MMS' END FORMTYPE_
			, A.TITLE, A.CONTENT, A.PURP
			, A.SITEID, A.ISDELETE
			, CONVERT(nvarchar,A.REGDATE,23) AS REGDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.REGUSER) AS REGUSER_
			, CONVERT(nvarchar,A.EDTDATE,23) AS EDTDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.EDTUSER) AS EDTUSER_
		FROM Crud_SaaS.dbo.T_CAMP_CONTENTS A
		WHERE A.SITEID = #{siteid}
		AND A.NO = #{no}
	</select>
	
	<update id="contentsUpdate" parameterType="campaignContentsDto">
		UPDATE Crud_SaaS.dbo.T_CAMP_CONTENTS
			SET FORMTYPE = #{formtype}
			,TITLE = #{title}
			,CONTENT = #{content}
			,PURP = #{purp}
			,EDTDATE = getDate()
			,EDTUSER = #{edtuser}
		WHERE NO = #{no}
		AND SITEID = #{siteid} 
	</update>
	
	<update id="contentsDelete" parameterType="campaignContentsDto">
		UPDATE Crud_SaaS.dbo.T_CAMP_CONTENTS
			SET EDTDATE = getDate()
			,EDTUSER= #{edtuser}
			,ISDELETE = 1
		WHERE NO = #{no}
		AND SITEID = #{siteid}
	</update>
	
	<update id="send" statementType="CALLABLE" parameterType="hashMap">
		{ call CAMP_SEND(#{siteid, mode=IN, jdbcType=INTEGER, javaType=int},#{userno, mode=IN, jdbcType=INTEGER, javaType=int},#{campno, mode=IN, jdbcType=INTEGER, javaType=int})}
	</update>
	
	<select id="tabHistory" parameterType="campaignDto" resultType="hashMap">
		SELECT B.CODENAME
			, ISNULL(C.CODENAME,A.VALUE) AS VALUE
			, A.CAMPORDER
			, A.REGDATE
		FROM Crud_SaaS.dbo.T_CAMP_TARGET_HIST A
        LEFT OUTER JOIN T_CODE B ON B.CODEVAL = CASE WHEN SUBSTRING(A.NAME,0,5) = 'addr' THEN SUBSTRING(A.NAME,0,6) ELSE A.NAME END AND B.CODEGRP = 'CAMP'
        LEFT OUTER JOIN T_CODE C ON C.CODEGRP = CASE WHEN SUBSTRING(A.NAME,0,5) = 'addr' THEN SUBSTRING(A.NAME,0,6) ELSE A.NAME END AND C.CODEVAL = A.VALUE
        WHERE A.SITEID = #{siteid}
        AND A.CAMPNO = #{campno}
	</select>
	
</mapper>