<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company">

    <select id="list" parameterType="hashMap" resultType="hashMap">
     	SELECT * FROM (
     	SELECT 
     	A.SITENAME,A.SITEID,A.PRSDNAME,A.BSNO,A.MOBILE1+'-'+A.MOBILE2+'-'+A.MOBILE3 AS MOBILE
     	,A.BSTYPE,CONVERT(varchar,A.FREGDATE,23) AS FREGDATE
     	,CASE WHEN A.SITESIZE = '1' THEN '대기업'
     		  WHEN A.SITESIZE = '2' THEN '중견기업'
     		  WHEN A.SITESIZE = '3' THEN '중소기업'
     		  WHEN A.SITESIZE = '4' THEN '소기업' END AS SITESIZE
     	,CASE WHEN A.ISDELETE = '0' THEN '사용'
     		  WHEN A.ISDELETE = '1' THEN '미사용' END AS ISDELETE
     	,ROW_NUMBER() OVER(ORDER BY A.SITEID DESC) AS ROWNUM
     	,(SELECT SUM(BUYCNT) AS BUYCNT FROM Crud_SaaS.dbo.T_SITE_LICENSE WHERE SITEID = A.SITEID) AS BUYCNT
     	FROM Crud_SaaS.dbo.TB980070 A
     	WHERE A.ISDELETE = 0
     	<if test ="strDate != null">
     		AND ISNULL(A.FREGDATE,'1900-01-01')<![CDATA[ > ]]>= #{strDate}
     	</if>
     	<if test ="endDate != null">
     		AND ISNULL(A.FREGDATE,'1900-01-01') <![CDATA[ < ]]>= #{endDate}
     	</if>
     	<if test ="sitename != null">
     		AND A.SITENAME LIKE '%'+#{sitename} +'%'
     	</if>
     	<if test ="sitesize != null">
     		AND A.SITESIZE = #{sitesize}
     	</if>
     	) X 
     	WHERE ROWNUM Between #{startRowNum} and #{endRowNum}
    </select>
    <select id="totalRow" parameterType="hashMap" resultType="int">
     	SELECT 
     	count(*)
     	FROM Crud_SaaS.dbo.TB980070
     	WHERE ISDELETE = 0
     	<if test ="strDate != null">
     		AND ISNULL(FREGDATE,'1900-01-01')<![CDATA[ > ]]>= #{strDate}
     	</if>
     	<if test ="endDate != null">
     		AND ISNULL(FREGDATE,'1900-01-01') <![CDATA[ < ]]>= #{endDate}
     	</if>
     	<if test ="siteName != null">
     		AND SITENAME LIKE '%'+#{siteName} +'%'
     	</if>
     	<if test ="siteSize != null">
     		AND SITESIZE = #{siteSize}
     	</if>
    </select>
    
    <select id="detail" parameterType="companyDto" resultType="hashMap">
     	SELECT 
     	A.SITEID,A.SITENAME,A.BSNO,A.INCNO
     	,A.ADDR1,A.ADDR2,A.ADDR3
     	,A.PRSDNAME
     	,A.MOBILE1,A.MOBILE2,A.MOBILE3
     	,A.FAXTEL1,A.FAXTEL2,A.FAXTEL3
     	,A.TELNO1,A.TELNO2,A.TELNO3
     	,A.EMAIL
     	,CASE WHEN A.SITESIZE = '1' THEN '대기업'
     		  WHEN A.SITESIZE = '2' THEN '중견기업'
     		  WHEN A.SITESIZE = '3' THEN '중소기업'
     		  WHEN A.SITESIZE = '4' THEN '소기업' END AS SITESIZE_
     	,SITESIZE
     	,(SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
     	,A.OWNER 
     	,A.COTYPE,A.BSCOND,A.BSTYPE
     	,CONVERT(varchar,A.FREGDATE,23) AS FREGDATE ,A.SITELOGO
     	,CASE WHEN A.ISDELETE = '0' THEN '사용'
     		  WHEN A.ISDELETE = '1' THEN '미사용' END AS ISDELETE_
     	,A.ISDELETE
     	,A.SITEMEMO
     	,(SELECT COUNT(*) FROM T_SITE_LICENSE WHERE SITEID = A.SITEID) AS TOTALCNT
     	FROM Crud_SaaS.dbo.TB980070 A
     	WHERE A.SITEID = #{siteid}
    </select>
    
    <update id="update" parameterType="companyDto">
    
    UPDATE Crud_SaaS.dbo.TB980070
    SET 
    SITENAME = #{sitename}
    ,BSNO = #{bsno}
    ,INCNO = #{incno}
    
    ,ADDR1 = #{addr1}
    ,ADDR2 = #{addr2}
    ,ADDR3 = #{addr3}
    
    ,PRSDNAME = #{prsdname}
    
    ,MOBILE1 = #{mobile1}
    ,MOBILE2 = #{mobile2}
    ,MOBILE3 = #{mobile3}
    
    ,FAXTEL1 = #{faxtel1}
    ,FAXTEL2 = #{faxtel2}
    ,FAXTEL3 = #{faxtel3}
    
    ,TELNO1 = #{telno1}
    ,TELNO2 = #{telno2}
    ,TELNO3 = #{telno3}
    
    ,EMAIL = #{email}
    ,SITESIZE = #{sitesize}
    ,OWNER = #{owner}
    
    ,COTYPE = #{cotype}
    ,BSCOND = #{bscond}
    ,BSTYPE = #{bstype}
    
    ,FREGDATE = #{fregdate}
    ,ISDELETE = #{isdelete}
    
    ,SITEMEMO = #{sitememo}
    ,EDTDATE = getDate()
    ,EDTUSER = #{edtuser}
    
    WHERE SITEID = #{siteid}
    
    </update>
    <insert id="insert" parameterType="companyDto">
    <selectKey keyProperty="siteid"  resultType="integer" order="AFTER">
    INSERT INTO Crud_SaaS.dbo.TB980070
    (
     SITENAME 
    ,BSNO
    ,INCNO
    ,ADDR1
    ,ADDR2
    ,ADDR3
    ,PRSDNAME
    ,MOBILE1
    ,MOBILE2
    ,MOBILE3
    ,FAXTEL1
    ,FAXTEL2
    ,FAXTEL3
    ,TELNO1
    ,TELNO2
    ,TELNO3
    ,EMAIL
    ,SITESIZE
    ,OWNER
    ,COTYPE
    ,BSCOND
    ,BSTYPE
    ,ISDELETE
    ,SITEMEMO
    ,REGDATE
    ,REGUSER
    ,EDTDATE
    ,EDTUSER
    )VALUES(
    #{sitename}
    ,#{bsno}
    ,#{incno}
    ,#{addr1}
    ,#{addr2}
    ,#{addr3}
    ,#{prsdname}
    ,#{mobile1}
    ,#{mobile2}
    ,#{mobile3}
    ,#{faxtel1}
    ,#{faxtel2}
    ,#{faxtel3}
    ,#{telno1}
    ,#{telno2}
    ,#{telno3}
    ,#{email}
    ,#{sitesize}
    ,#{owner}
    ,#{cotype}
    ,#{bscond}
    ,#{bstype}
    ,#{isdelete}
    ,#{sitememo}
    ,getdate()
    ,#{reguser}
    ,getdate()
    ,#{edtuser}
    )
    SELECT SCOPE_IDENTITY()
    </selectKey>
    </insert>
    
    <update id="delete" parameterType="companyDto">
    
    	UPDATE Crud_SaaS.dbo.TB980070
    		SET ISDELETE = 1
    		,EDTDATE = getDate()
    		,EDTUSER = #{edtuser}
    	WHERE SITEID = #{siteid}
    </update>
    
    <insert id="siteLicenseInsert" parameterType="HashMap">
    	INSERT INTO Crud_SaaS.dbo.T_SITE_LICENSE
    	(
    		LICENSENO
    		,BUYCNT
    		,SITEID
    		,REGDATE
    		,REGUSER
    		,EDTDATE
    		,EDTUSER
    	)VALUES(
    	#{licenseno}
    	,#{buycnt}
    	,#{siteid}
    	,getDate()
    	,#{reguser}
    	,getDate()
    	,#{edtuser}
    	)
    </insert>

</mapper>