<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sv">

	<select id="svList" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM (
			SELECT
			A.SERVICENO 
		 	, A.SERVICENAME 
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECODE' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECODE) AS SERVICECODE_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECHANNEL' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECHANNEL) AS SERVICECHANNEL_
			, (SELECT CUSTNAME FROM Crud_SaaS.dbo.CU100010 WHERE CUSTNO = A.CUSTNO) AS CUSTNAME_
			, (SELECT CLINAME FROM Crud_SaaS.dbo.TB200010 WHERE CLINO = A.CLINO) AS CLINAME_
			, CONVERT(nvarchar,A.RECEPTIONDATE, 23) AS RECEPTIONDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICESTEP' AND SITEID = #{siteid} AND CODEVAL = A.SERVICESTEP) AS SERVICESTEP_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICETYPE' AND SITEID = #{siteid} AND CODEVAL = A.SERVICETYPE) AS SERVICETYPE_
			,(ROW_NUMBER() OVER(ORDER BY SERVICENO DESC)) AS ROWNUM
			FROM Crud_SaaS.dbo.T_SERVICE A
			WHERE A.ISDELETE = 0
			AND A.SITEID = #{siteid}
			<if test="strDate != null">
				AND A.RECEPTIONDATE <![CDATA[>]]>= #{strDate}
			</if>
			<if test="endDate != null">
				AND A.RECEPTIONDATE <![CDATA[<]]>= #{endDate}
			</if>
			<if test="custno != null">
				AND A.CUSTNO = #{custno}
			</if>
			<if test="servicename != null">
				AND A.SERVICENAME LIKE '%' + #{servicename} + '%'
			</if>
			<if test="servicetype != null">
				AND A.SERVICETYPE = #{servicetype}
			</if>
			<if test="clino != null">
				AND A.CLINO = #{clino}
			</if>
			<if test="servicechannel != null">
				AND A.SERVICECHANNEL = #{servicechannel}
			</if>
			<if test="serviceowner != null">
				AND A.SERVICEOWNER = #{serviceowner}
			</if>
			<if test="owner != null">
				AND A.OWNER = #{owner}
			</if>
			<if test="servicestep != null">
				AND A.SERVICESTEP = #{servicestep}
			</if>
    		 ) X
    		 <if test="endRowNum != null">
				WHERE X.ROWNUM Between #{startRowNum} and #{endRowNum}
			</if> 
	</select>
	
	<select id="svServiceTotalRows" parameterType="hashMap" resultType="int">
		SELECT 
			COUNT(*) 
		FROM T_SERVICE A
		WHERE A.ISDELETE = 0
		AND A.SITEID = #{siteid}
			<if test="strDate != null">
				AND A.RECEPTIONDATE <![CDATA[>]]>= #{strDate}
			</if>
			<if test="endDate != null">
				AND A.RECEPTIONDATE <![CDATA[<]]>= #{endDate}
			</if>
			<if test="custno != null">
				AND A.CUSTNO = #{custno}
			</if>
			<if test="servicename != null">
				AND A.SERVICENAME = #{servicename}
			</if>
			<if test="servicetype != null">
				AND A.SERVICETYPE = #{servicetype}
			</if>
			<if test="clino != null">
				AND A.CLINO = #{clino}
			</if>
			<if test="servicechannel != null">
				AND A.SERVICECHANNEL = #{servicechannel}
			</if>
			<if test="serviceowner != null">
				AND A.SERVICEOWNER = #{serviceowner}
			</if>
			<if test="owner != null">
				AND A.OWNER = #{owner}
			</if>
			<if test="servicestep != null">
				AND A.SERVICESTEP = #{servicestep}
			</if>
	</select>
	
	<select id="serviceRead" parameterType="hashMap" resultType="hashMap">
		SELECT
			A.SERVICENO 
		 	, A.SERVICENAME 
		 	, A.SERVICEDESC
		 	, A.SERVICECODE
		 	, A.SERVICECHANNEL
		 	, A.SERVICETYPE
		 	, A.SERVICEOWNER
		 	, A.SERVICESTEP
		 	, A.FILESEARCHKEY
		 	, A.OWNER
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECODE' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECODE) AS SERVICECODE_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECHANNEL' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECHANNEL) AS SERVICECHANNEL_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICETYPE' AND SITEID = 1 AND CODEVAL = A.SERVICETYPE) AS SERVICETYPE_
			, CONVERT(nvarchar,A.RECEPTIONDATE, 23) AS RECEPTIONDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICESTEP' AND SITEID = #{siteid} AND CODEVAL = A.SERVICESTEP) AS SERVICESTEP_
			, B.CUSTNAME, B.EMAIL, B.DUTY
			, B.HOMADDR1 + B.HOMADDR2 + B.HOMADDR3 AS CUSTADDRESS
			, B.MOBILE1 + '-' + B.MOBILE2 + '-' + B.MOBILE3 AS MOBILE
			, C.BSNO, C.CORP_SN AS INCNO
			, C.MOBILE1 + '-' + C.MOBILE2 + '-' + C.MOBILE3 AS CLIMOBILE
			, C.PRSDNAME, C.HOMEPAGE, C.CLINO, C.CLINAME
			
		FROM Crud_SaaS.dbo.T_SERVICE A
		LEFT OUTER JOIN Crud_SaaS.dbo.CU100010 B ON B.CUSTNO = A.CUSTNO
		LEFT OUTER JOIN Crud_SaaS.dbo.TB200010 C ON C.CLINO = A.CLINO
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
	</select>
	
	<select id="rewardRead" parameterType="hashMap" resultType="hashMap">
		SELECT
		CONVERT(nvarchar,A.VISITDATE,23) AS VISITDATE_
		,A.VISITTIME
		,(SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'REWARDTYPE' AND SITEID = #{siteid} AND CODEVAL = A.REWARDTYPE) AS REWARDTYPE_
		,(SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'CAUSECODE' AND SITEID = #{siteid} AND CODEVAL = A.CAUSECODE) AS CAUSECODE_
		,(SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'DELAYTYPE' AND SITEID = #{siteid} AND CODEVAL = A.DELAYTYPE) AS DELAYTYPE_
		,A.REWARDDESC
		,A.DELAYDESC
		,A.FILESEARCHKEY
		FROM Crud_SaaS.dbo.T_REWARD A
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
	</select>
	
	<select id="ractRead" parameterType="hashMap" resultType="hashMap">
		SELECT 
		CONVERT(nvarchar,A.RACTDATE,23) AS RACTDATE_
		, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SENDYN' AND SITEID = #{siteid} AND CODEVAL = A.SENDYN) AS SENDYN_
		, A.RACTDESC
		, A.FILESEARCHKEY
		FROM Crud_SaaS.dbo.T_RACT A 
		WHERE A.RACTNO IN (SELECT MAX(RACTNO) AS RACTNO 
						FROM Crud_SaaS.dbo.T_RACT GROUP BY SERVICENO )
		AND A.SERVICENO = #{serviceno}
		AND A.SITEID = #{siteid}
	</select>
	
	<insert id="svInsert" parameterType="serviceDto">
		<selectKey keyProperty="serviceno"  resultType="integer" order="AFTER">
		INSERT INTO Crud_SaaS.dbo.T_SERVICE
		(
		SERVICENAME
		,SERVICEDESC
		,SERVICEOWNER
		,RECEPTIONDATE
		,CUSTNO
		,CLINO
		,SERVICESTEP
		,OWNER
		,SITEID
		,FILESEARCHKEY
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,SERVICETYPE
		,SERVICECODE
		,SERVICECHANNEL
		,ISDELETE
		)VALUES(
		#{servicename}
		,#{servicedesc}
		,#{serviceowner}
		,#{receptiondate}
		,#{custno}
		,#{clino}
		,#{servicestep}
		,#{owner}
		,#{siteid}
		,#{filesearchkey}
		,getDate()
		,#{reguser}
		,getDate()
		,#{edtuser}
		,#{servicetype}
		,#{servicecode}
		,#{servicechannel}
		,#{isdelete}
		)
		SELECT SCOPE_IDENTITY()
		</selectKey>
	</insert>
	
	<update id="svUpdate" parameterType="serviceDto">
		UPDATE Crud_SaaS.dbo.T_SERVICE
			SET SERVICENAME = #{servicename}
			,SERVICEDESC = #{servicedesc}
			,SERVICEOWNER = #{serviceowner}
			,RECEPTIONDATE = #{receptiondate}
			,CUSTNO = #{custno}
			,CLINO = #{clino}
			,OWNER = #{owner}
			,FILESEARCHKEY = #{filesearchkey}
			,EDTDATE = getDate()
			,EDTUSER = #{edtuser}
			,SERVICETYPE = #{servicetype}
			,SERVICECODE = #{servicecode}
			,SERVICECHANNEL = #{servicechannel}
		WHERE SERVICENO = #{serviceno}
		AND SITEID = #{siteid}
	</update>
	
	<update id ="svDelete" parameterType="serviceDto">
		UPDATE Crud_SaaS.dbo.T_SERVICE
			SET EDTDATE = getDate()
				,EDTUSER = #{edtuser}
				,ISDELETE = 1
			WHERE SITEID = #{siteid}
			AND SERVICENO = #{serviceno}
	</update>
	
	<update id="svStep" parameterType="int">
		UPDATE Crud_SaaS.dbo.T_SERVICE
			SET SERVICESTEP = #{servicestep}
		WHERE SERVICENO = #{serviceno}
		AND SITEID = #{siteid}
	</update>
	
	<insert id="rewardInsert" parameterType="rewardDto">
		INSERT INTO Crud_SaaS.dbo.T_REWARD
		(
		VISITDATE
		,VISITTIME
		,REWARDTYPE
		,CAUSECODE
		,DELAYTYPE
		,DELAYDESC
		,REWARDDESC
		,FILESEARCHKEY
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,SITEID
		,SERVICENO
		)VALUES(
		#{visitdate}
		,#{visittime}
		,#{rewardtype}
		,#{causecode}
		,#{delaytype}
		,#{delaydesc}
		,#{rewarddesc}
		,#{filesearchkey}
		,getDate()
		,#{reguser}
		,getDate()
		,#{edtuser}
		,#{siteid}
		,#{serviceno}
		)
	</insert>
	
	<update id="rewardUpdate" parameterType="rewardDto">
	Update Crud_SaaS.dbo.T_REWARD
		SET VISITDATE = #{visitdate}
			,VISITTIME = #{visittime}
			,REWARDTYPE = #{rewardtype}
			,CAUSECODE = #{causecode}
			,DELAYTYPE = #{delaytype}
			,DELAYDESC = #{delaydesc}
			,REWARDDESC = #{rewarddesc}
			,FILESEARCHKEY = #{filesearchkey}
			,EDTDATE = getDate()
			,EDTUSER = #{edtuser}
		WHERE SITEID = #{siteid}
		AND SERVICENO = #{serviceno}
		AND REWARDNO = #{rewardno}
	</update>
	
	<insert id="ractInsert" parameterType="ractDto">
		INSERT INTO Crud_SaaS.dbo.T_RACT
		(
		SERVICENO
		,RACTDATE
		,SENDYN
		,RACTDESC
		,FILESEARCHKEY
		,SITEID
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,RACTCODE
		)VALUES(
		#{serviceno}
		,#{ractdate}
		,#{sendyn}
		,#{ractdesc}
		,#{filesearchkey}
		,#{siteid}
		,getDate()
		,#{reguser}
		,getDate()
		,#{edtuser}
		,#{ractcode}
		)
	</insert>
	
	<update id="ractUpdate" parameterType="ractDto">
		UPDATE Crud_SaaS.dbo.T_RACT
			SET RACTDATE = #{ractdate}
				,SENDYN = #{sendyn}
				,RACTDESC = #{ractdes}
				,FILESEARCHKEY = #{filesearchkey}
				,EDTDATE = getDate()
				,EDTUSER = #{edtuser}
				,RACTCODE = #{ractcode}
		WHERE SITEID = #{siteid}
		AND SERVICENO = #{serviceno}
		AND RACTNO = #{ractno}
	</update>
	
	<select id="tabRact" parameterType="ractDto" resultType="HashMap">
		SELECT TOP 5
		CONVERT(nvarchar,A.RACTDATE,23) AS RACTDATE_
		, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = (SELECT OWNER FROM Crud_SaaS.dbo.T_SERVICE WHERE SERVICENO = A.SERVICENO)) AS OWNER_
		, CASE WHEN A.RACTCODE = 1 THEN 'option1'
    		   WHEN A.RACTCODE = 2 THEN 'option2'
    		   WHEN A.RACTCODE = 3 THEN 'option3' END AS RACTCODE_
    	, CASE WHEN A.SENDYN = 0 THEN '미발송'
    		   WHEN A.SENDYN = 1 THEN '발송' END AS SENDYN_
    	,A.RACTDESC
    	FROM Crud_SaaS.dbo.T_RACT A
    	WHERE A.SITEID = #{siteid}
    	AND A.SERVICENO = #{serviceno}
	</select>
	
	<insert id="conveyInsert" parameterType="conveyDto">
		INSERT T_CONVEY
			(SERVICENO
			,PREVOWNER
			,NEXTOWNER
			,CONVEYREASON
			,CONVEYDATE
			,CONVEYDESC
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
			,SITEID
			)VALUES(
			#{serviceno}
			,#{prevowner}
			,#{nextowner}
			,#{conveyreason}
			,#{conveydate}
			,#{conveydesc}
			,getDate()
			,#{reguser}
			,getDate()
			,#{edtuser}
			,#{siteid}
			)
			
			UPDATE Crud_SaaS.dbo.T_SERVICE
			SET OWNER = #{nextowner}
				,EDTDATE = getDate()
				,EDTUSER = #{edtuser}
			WHERE SERVICENO = #{serviceno}
			AND SITEID = #{siteid}
			
			UPDATE Crud_SaaS.dbo.T_SERVICE
			SET SERVICESTEP = 3
			WHERE SERVICENO = #{serviceno}
			AND SITEID = #{siteid}
	</insert>
	
	<select id="tabConvey" parameterType="int" resultType="HashMap">
		SELECT A.CONVEYNO
			,A.SERVICENO
			,A.PREVOWNER
			,(SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE A.PREVOWNER = USERNO) AS PREVOWNER_
			,A.NEXTOWNER
			,(SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE A.NEXTOWNER = USERNO) AS NEXTOWNER_
			,(SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'CONVEYREASON' AND SITEID = #{siteid} AND CODEVAL = A.CONVEYREASON) AS CONVEYREASON_
			,CONVERT(nvarchar,A.CONVEYDATE,23) AS CONVEYDATE
			,A.CONVEYDESC
		FROM Crud_SaaS.dbo.T_CONVEY A
		WHERE A.SERVICENO = #{serviceno}
		AND A.SITEID = #{siteid}
	</select>
	
	<select id="calList" parameterType="rewardDto" resultType="hashMap">
		SELECT
			A.SERVICENO AS id
			, CASE WHEN A.SERVICESTEP = 2 THEN '[현상파악]' + A.SERVICENAME
		  		   WHEN A.SERVICESTEP = 3 THEN '[이관]' + A.SERVICENAME
		  		   WHEN A.SERVICESTEP = 4 THEN '[처리]' + A.SERVICENAME
		  		   WHEN A.SERVICESTEP = 5 THEN '[종료]' + A.SERVICENAME END AS title

			, CASE WHEN A.SERVICESTEP = 2 THEN CONVERT(nvarchar,B.VISITDATE,23)
		  		   WHEN A.SERVICESTEP = 3 THEN CONVERT(nvarchar,D.CONVEYDATE,23)
		  	   	   WHEN A.SERVICESTEP = 4 THEN CONVERT(nvarchar,C.RACTDATE,23)
		  	   	   WHEN A.SERVICESTEP = 5 THEN CONVERT(nvarchar,A.EDTDATE,23) END  'start'

			, CASE WHEN A.SERVICESTEP = 2 THEN '#FF33CC'
		 		   WHEN A.SERVICESTEP = 3 THEN '#CC33FF'
		 	   	   WHEN A.SERVICESTEP = 4 THEN '#9933FF'
		 	   	   WHEN A.SERVICESTEP = 5 THEN '#333333' END AS color
			, CASE WHEN A.SERVICESTEP = 2 THEN B.REWARDDESC
		 		   WHEN A.SERVICESTEP = 3 THEN D.CONVEYDESC
		 		   WHEN A.SERVICESTEP = 4 THEN C.RACTDESC
		 		   WHEN A.SERVICESTEP = 5 THEN A.SERVICEDESC END AS 'desc'
			,(SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			,(SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
		FROM Crud_SaaS.dbo.T_SERVICE A
		LEFT OUTER JOIN Crud_SaaS.dbo.T_REWARD B ON B.SERVICENO = A.SERVICENO
		LEFT OUTER JOIN (SELECT * FROM Crud_SaaS.dbo.T_RACT WHERE RACTNO IN (SELECT max(ractno) AS ractno FROM Crud_SaaS.dbo.T_RACT group by serviceno )) C ON C.SERVICENO = A.SERVICENO
		LEFT OUTER JOIN (SELECT * FROM Crud_SaaS.dbo.T_CONVEY WHERE CONVEYNO IN (SELECT max(conveyno) AS conveyno FROM Crud_SaaS.dbo.T_CONVEY group by serviceno )) D ON D.SERVICENO = A.SERVICENO
		WHERE A.SITEID = #{siteid}
		AND A.SERVICESTEP != 1
	</select>
	
</mapper>