<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sv">

	<select id="svList" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM (
			SELECT
			A.SERVICENO 
		 	, A.SERVICENAME 
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECODE' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECODE) AS SERVICECODE_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECHANNEL' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECHANNEL) AS SERVICECHANNEL_
			, (SELECT CUSTNAME FROM Crud_SaaS.dbo.CU100010 WHERE CUSTNO = A.CUSTNO) AS CUSTNAME_
			, (SELECT CLINAME FROM Crud_SaaS.dbo.TB200010 WHERE CLINO = A.CLINO) AS CLINAME_
			, CONVERT(nvarchar,A.RECEPTIONDATE, 23) AS RECEPTIONDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICESTEP' AND SITEID = #{siteid} AND CODEVAL = A.SERVICESTEP) AS SERVICESTEP_
			,(ROW_NUMBER() OVER(ORDER BY SERVICENO DESC)) AS ROWNUM
			FROM Crud_SaaS.dbo.T_SERVICE A
			WHERE A.ISDELETE = 0
			AND A.SITEID = #{siteid}
		) X
	</select>
	
	<select id="svServiceTotalRows" parameterType="hashMap" resultType="int">
		SELECT 
			COUNT(*) 
		FROM T_SERVICE
		WHERE ISDELETE = 0
		AND SITEID = #{siteid}
	</select>
	
	<select id="serviceRead" parameterType="hashMap" resultType="hashMap">
		SELECT
			A.SERVICENO 
		 	, A.SERVICENAME 
		 	, A.SERVICEDESC
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECODE' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECODE) AS SERVICECODE_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICECHANNEL' AND SITEID = #{siteid} AND CODEVAL = A.SERVICECHANNEL) AS SERVICECHANNEL_
			, CONVERT(nvarchar,A.RECEPTIONDATE, 23) AS RECEPTIONDATE_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.OWNER) AS OWNER_
			, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SERVICESTEP' AND SITEID = #{siteid} AND CODEVAL = A.SERVICESTEP) AS SERVICESTEP_
			, B.CUSTNAME, B.EMAIL, B.DUTY
			, B.HOMADDR1 + B.HOMADDR2 + B.HOMADDR3 AS CUSTADDRESS
			, B.MOBILE1 + '-' + B.MOBILE2 + '-' + B.MOBILE3 AS MOBILE
			, C.BSNO, C.CORP_SN AS INCNO
			, C.MOBILE1 + '-' + C.MOBILE2 + '-' + C.MOBILE3 AS CLIMOBILE
			, C.PRSDNAME, C.HOMEPAGE, C.CLINO, C.CLINAME
			
		FROM Crud_SaaS.dbo.T_SERVICE A
		INNER JOIN Crud_SaaS.dbo.CU100010 B ON B.CUSTNO = A.CUSTNO
		INNER JOIN Crud_SaaS.dbo.TB200010 C ON C.CLINO = A.CLINO
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
	</select>
	
	<select id="rewardRead" parameterType="hashMap" resultType="hashMap">
		SELECT
		CONVERT(nvarchar,A.VISITDATE,23) AS VISITDATE_
		,A.VISITTIME
		,(SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'REWARDTYPE' AND SITEID = #{siteid} AND CODEVAL = A.REWARDTYPE) AS REWARDTYPE_
		,(SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'CAUSECODE' AND SITEID = #{siteid} AND CODEVAL = A.CAUSECODE) AS CAUSECODE_
		,(SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'DELAYTYPE' AND SITEID = #{siteid} AND CODEVAL = A.DELAYTYPE) AS DELAYTYPE_
		,A.REWARDDESC
		,A.DELAYDESC
		FROM Crud_SaaS.dbo.T_REWARD A
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
	</select>
	
	<select id="ractRead" parameterType="hashMap" resultType="hashMap">
		SELECT 
		CONVERT(nvarchar,A.RACDATE,23) AS RACTDATE_
		, (SELECT CODENAME FROM Crud_SaaS.dbo.T_CODE WHERE CODEGRP = 'SENDYN' AND SITEID = #{siteid} AND CODEVAL = A.SENDYN) AS SENDYN_
		, (SELECT USERNAME FROM Crud_SaaS.dbo.TB980010 WHERE USERNO = A.RACTOWNER) AS RACTOWNER_
		, RACTDESC
		FROM Crud_SaaS.dbo.T_RACT A
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
	</select>
	
	<insert id="svInsert" parameterType="serviceDto">
		<selectKey keyProperty="serviceno"  resultType="integer" order="AFTER">
		INSERT INTO Crud_SaaS.dbo.T_SERVICE
		(
		SERVICENAME
		,SERVICEDESC
		,SERVICEOWNER
		,RECEPTIONDATE
		,CUSTNO
		,CLINO
		,SERVICESTEP
		,OWNER
		,SITEID
		,FILESEARCHKEY
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,SERVICETYPE
		,SERVICECODE
		,SERVICECHANNEL
		,ISDELETE
		)VALUES(
		#{servicename}
		,#{servicedesc}
		,#{serviceowner}
		,#{receptiondate}
		,#{custno}
		,#{clino}
		,#{servicestep}
		,#{owner}
		,#{siteid}
		,#{filesearchkey}
		,getDate()
		,#{reguser}
		,getDate()
		,#{edtuser}
		,#{servicetype}
		,#{servicecode}
		,#{servicechannel}
		,#{isdelete}
		)
		SELECT SCOPE_IDENTITY()
		</selectKey>
	</insert>
	
	<update id="svUpdate" parameterType="serviceDto">
		UPDATE Crud_SaaS.dbo.T_SERVICE
			SET SERVICENAME = #{servicename}
			,SERVICEDESC = #{servicedesc}
			,SERVICEOWNER = #{serviceowner}
			,RECEPTIONDATE = #{receptiondate}
			,CUSTNO = #{custno}
			,CLINO = #{clino}
			,OWNER = #{owner}
			,FILESEARCHKEY = #{filesearchkey}
			,EDTDATE = getDate()
			,EDTUSER = #{edtuser}
			,SERVICETYPE = #{servicetype}
			,SERVICECODE = #{servicecode}
			,SERVICECHANNEL = #{servicechannel}
		WHERE SERVICENO = #{serviceno}
		AND SITEID = #{siteid}
	</update>
	
	<update id ="svDelete" parameterType="serviceDto">
		UPDATE Crud_SaaS.dbo.T_SERVICE
			SET EDTDATE = getDate()
				,EDTUSER = #{edtuser}
				,ISDELETE = 1
			WEHRE SITEID = #{siteid}
			AND SERVICENO = #{serviceno}
	</update>
	
	<update id="svStep" parameterType="int">
		UPDATE Crud_SaaS.dbo.T_SERVICE
			SET SERVICESTEP = #{servicestep}
		WHERE SERVICENO = #{serviceno}
		AND SITEID = #{siteid}
	</update>
	
	<insert id="rewardInsert" parameterType="rewardDto">
		INSERT INTO Crud_SaaS.dbo.T_REWARD
		(
		VISITDATE
		,VISITTIME
		,REWARDTYPE
		,CAUSECODE
		,DELAYTYPE
		,DELAYDESC
		,REWARDDESC
		,FILESEARCHKEY
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,SITEID
		,SERVICENO
		)VALUES(
		#{visitdate}
		,#{visittime}
		,#{rewardtype}
		,#{causecode}
		,#{delaytype}
		,#{delaydesc}
		,#{rewarddesc}
		,#{filesearchkey}
		,getDate()
		,#{reguser}
		,getDate()
		,#{edtuser}
		,#{siteid}
		,#{serviceno}
		)
	</insert>
	
	<update id="rewardUpdate" parameterType="rewardDto">
	Update Crud_SaaS.dbo.T_REWARD
		SET VISITDATE = #{visitdate}
			,VISITTIME = #{visittime}
			,REWARDTYPE = #{rewardtype}
			,CAUSECODE = #{causecode}
			,DELAYTYPE = #{delaytype}
			,DELAYDESC = #{delaydesc}
			,REWARDDESC = #{rewarddesc}
			,FILESEARCHKEY = #{filesearchkey}
			,EDTDATE = getDate()
			,EDTUSER = #{edtuser}
		WHERE SITEID = #{siteid}
		AND SERVICENO = #{serviceno}
		AND REWARDNO = #{rewardno}
	</update>
	
	<insert id="ractInsert" parameterType="ractDto">
		INSERT INTO Crud_SaaS.dbo.T_RACT
		(
		SERVICENO
		,RACTDATE
		,SENDYN
		,RACTOWNER
		,RACTDESC
		,FILESEARCHKEY
		,SITEID
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		)VALUES(
		#{serviceno}
		,#{ractdate}
		,#{sendyn}
		,#{ractowner}
		,#{ractdesc}
		,#{filesearchkey}
		,#{siteid}
		,getDate()
		,#{reguser}
		,getDate()
		,#{edtuser}
		)
	</insert>
	
	<update id="ractUpdate" parameterType="ractDto">
		UPDATE Crud_SaaS.dbo.T_RACT
			SET RACTDATE = #{ractdate}
				,SENDYN = #{sendyn}
				,RACTOWNER = #{ractowner}
				,RACTDESC = #{ractdes}
				,FILESEARCHKEY = #{filesearchkey}
				,EDTDATE = getDate()
				,EDTUSER = #{edtuser}
		WHERE SITEID = #{siteid}
		AND SERVICENO = #{serviceno}
		AND RACTNO = #{ractno}
	</update>
	
	
</mapper>