<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sv">

	<select id="svList" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM (
			SELECT
			A.SERVICENO 
		 	, A.SERVICENAME 
			,(case when length(A.SERVICECODE2) > 0 then CONCAT(FN_GETCODE('SERVICECODE1',A.SERVICECODE1,#{siteid}), ' / ', FN_GETCODEUPPER('SERVICECODE2',A.SERVICECODE2,#{siteid},FN_GETCODENO('SERVICECODE1',A.SERVICECODE1,#{siteid})))
	         	   when length(A.SERVICECODE1) > 0 then FN_GETCODE('SERVICECODE1',A.SERVICECODE1,#{siteid})
	    		else '' end) SERVICECODE_
			, FN_GETCODE('SERVICECHANNEL',A.SERVICECHANNEL,1) AS SERVICECHANNEL_
			, (SELECT CUSTNAME FROM cu100010 WHERE CUSTNO = A.CUSTNO) AS CUSTNAME_
			, (SELECT CLINAME FROM sa200010 WHERE CLINO = A.CLINO) AS CLINAME_
			, DATE_FORMAT(A.RECEPTIONDATE,'%Y-%m-%d') AS RECEPTIONDATE_
			, (SELECT USERNAME FROM me800010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			, (SELECT USERNAME FROM me800010 WHERE USERNO = A.OWNER) AS OWNER_
			, FN_GETCODE('SERVICESTEP',A.SERVICESTEP,1) AS SERVICESTEP_
			, FN_GETCODE('SERVICETYPE',A.SERVICETYPE,1) AS SERVICETYPE_
			, @RNUM:=@RNUM + 1 AS ROWNUM
			FROM sv300010 A
			,(SELECT @RNUM := 0) R
			WHERE A.ISDELETE = 0
			AND A.SITEID = #{siteid}
			<if test="strDate != null">
				AND A.RECEPTIONDATE <![CDATA[>=]]> #{strDate}
			</if>
			<if test="endDate != null">
				AND A.RECEPTIONDATE <![CDATA[<=]]> #{endDate}
			</if>
			<if test="custno != null">
				AND A.CUSTNO = #{custno}
			</if>
			<if test="servicename != null">
				AND A.SERVICENAME LIKE CONCAT('%' , #{servicename} , '%')
			</if>
			<if test="servicetype != null">
				AND A.SERVICETYPE = #{servicetype}
			</if>
			<if test="clino != null">
				AND A.CLINO = #{clino}
			</if>
			<if test="servicecode1 != null">
				AND A.SERVICECODE1 = #{servicecode1}
			</if>
			<if test="servicecode2 != null">
				AND A.SERVICECODE2 = #{servicecode2}
			</if>
			<if test="serviceowner != null">
				AND A.SERVICEOWNER = #{serviceowner}
			</if>
			<if test="owner != null">
				AND A.OWNER = #{owner}
			</if>
			<if test="servicestep != null">
				AND A.SERVICESTEP = #{servicestep}
			</if>
    		 ) X
    		 <if test="endRowNum != null">
				WHERE X.ROWNUM Between #{startRowNum} and #{endRowNum}
			</if> 
	</select>
	
	<select id="svServiceTotalRows" parameterType="hashMap" resultType="int">
		SELECT 
			COUNT(*) 
		FROM sv300010 A
		WHERE A.ISDELETE = 0
		AND A.SITEID = #{siteid}
			<if test="strDate != null">
				AND A.RECEPTIONDATE <![CDATA[>=]]> #{strDate}
			</if>
			<if test="endDate != null">
				AND A.RECEPTIONDATE <![CDATA[<=]]> #{endDate}
			</if>
			<if test="custno != null">
				AND A.CUSTNO = #{custno}
			</if>
			<if test="servicename != null">
				AND A.SERVICENAME LIKE CONCAT('%' , #{servicename} , '%')
			</if>
			<if test="servicetype != null">
				AND A.SERVICETYPE = #{servicetype}
			</if>
			<if test="clino != null">
				AND A.CLINO = #{clino}
			</if>
			<if test="servicechannel != null">
				AND A.SERVICECHANNEL = #{servicechannel}
			</if>
			<if test="serviceowner != null">
				AND A.SERVICEOWNER = #{serviceowner}
			</if>
			<if test="owner != null">
				AND A.OWNER = #{owner}
			</if>
			<if test="servicestep != null">
				AND A.SERVICESTEP = #{servicestep}
			</if>
	</select>
	
	<select id="serviceRead" parameterType="hashMap" resultType="hashMap">
		SELECT
			A.SERVICENO 
		 	, A.SERVICENAME 
		 	, A.SERVICEDESC
		 	, FN_GETCODE('SERVICECODE1',A.SERVICECODE1,#{siteid}) AS SERVICECODE1
		 	, FN_GETCODEUPPER('SERVICECODE2',A.SERVICECODE2,#{siteid},FN_GETCODENO('SERVICECODE1',A.SERVICECODE1,#{siteid})) AS SERVICECODE2
		 	, A.SERVICETYPE
		 	, A.SERVICEOWNER
		 	, A.SERVICESTEP
		 	, A.FILESEARCHKEY
		 	, A.OWNER
		 	,(case when length(A.SERVICECODE2) > 0 then CONCAT(FN_GETCODE('SERVICECODE1',A.SERVICECODE1,#{siteid}), ' / ', FN_GETCODEUPPER('SERVICECODE2',A.SERVICECODE2,#{siteid},FN_GETCODENO('SERVICECODE1',A.SERVICECODE1,#{siteid})))
	         	   when length(A.SERVICECODE1) > 0 then FN_GETCODE('SERVICECODE1',A.SERVICECODE1,#{siteid})
	    		else '' end) SERVICECODE
			, FN_GETCODE('SERVICETYPE',A.SERVICETYPE,1) AS SERVICETYPE_
			, DATE_FORMAT(RECEPTIONDATE,'%Y-%m-%d') AS RECEPTIONDATE_
			, (SELECT USERNAME FROM me800010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			, (SELECT USERNAME FROM me800010 WHERE USERNO = A.OWNER) AS OWNER_
			, FN_GETCODE('SERVICESTEP',A.SERVICESTEP,1) AS SERVICESTEP_
			, B.CUSTNAME, B.EMAIL, B.DUTY
			, CONCAT(B.HOMADDR1,' ', B.HOMADDR2, ' ', B.HOMADDR3) AS CUSTADDRESS
			,B.HOMADDR1,B.HOMADDR2,B.HOMADDR3
			, CONCAT(B.MOBILE1 , '-' , B.MOBILE2 , '-' , B.MOBILE3) AS MOBILE
			, C.BSNO, C.CORP_SN AS INCNO
			, CONCAT(C.MOBILE1 , '-' , C.MOBILE2 , '-' , C.MOBILE3) AS CLIMOBILE
			, C.PRSDNAME, C.HOMEPAGE, C.CLINO, C.CLINAME
		FROM sv300010 A
		LEFT OUTER JOIN cu100010 B ON B.CUSTNO = A.CUSTNO
		LEFT OUTER JOIN sa200010 C ON C.CLINO = A.CLINO
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
	</select>
	
	<select id="rewardRead" parameterType="hashMap" resultType="hashMap">
		SELECT
		DATE_FORMAT(A.VISITDATE,'%Y-%m-%d') AS VISITDATE_
		,A.VISITTIME
		,CONCAT(A.VISITADDR1,' ',A.VISITADDR2,' ',A.VISITADDR3) AS VISITADDR_
		,A.VISITADDR1, A.VISITADDR2, A.VISITADDR3
		,(SELECT CODENAME FROM sys990020 WHERE CODEGRP = 'REWARDTYPE' AND SITEID = #{siteid} AND CODEVAL = A.REWARDTYPE) AS REWARDTYPE_
		,(SELECT CODENAME FROM sys990020 WHERE CODEGRP = 'CAUSECODE' AND SITEID = #{siteid} AND CODEVAL = A.CAUSECODE) AS CAUSECODE_
		,(SELECT CODENAME FROM sys990020 WHERE CODEGRP = 'DELAYTYPE' AND SITEID = #{siteid} AND CODEVAL = A.DELAYTYPE) AS DELAYTYPE_
		,A.REWARDDESC
		,A.DELAYDESC
		,A.FILESEARCHKEY
		,A.OWNER
		,(SELECT USERNAME FROM me800010 WHERE A.OWNER = USERNO) AS OWNER_
		FROM sv300030 A
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
	</select>
	
	<select id="ractRead" parameterType="hashMap" resultType="hashMap">
		SELECT 
		DATE_FORMAT(A.RACTDATE,'%Y-%m-%d') AS RACTDATE_
		, (SELECT CODENAME FROM sys990020 WHERE CODEGRP = 'SENDYN' AND SITEID = #{siteid} AND CODEVAL = A.SENDYN) AS SENDYN_
		, A.RACTDESC
		, A.FILESEARCHKEY
		FROM sv300040 A 
		WHERE A.RACTNO IN (SELECT MAX(RACTNO) AS RACTNO 
						FROM sv300040 GROUP BY SERVICENO )
		AND A.SERVICENO = #{serviceno}
		AND A.SITEID = #{siteid}
	</select>
	
	<insert id="svInsert" parameterType="serviceDto">
		
		INSERT INTO sv300010
		(
		SERVICENAME
		,SERVICEDESC
		,SERVICEOWNER
		,RECEPTIONDATE
		,CUSTNO
		,CLINO
		,SERVICESTEP
		,OWNER
		,SITEID
		,FILESEARCHKEY
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,SERVICETYPE
		,SERVICECODE1
		,SERVICECODE2
		,SERVICECHANNEL
		,ISDELETE
		,MEMO
		,COMPLETE
		)VALUES(
		#{servicename}
		,#{servicedesc}
		,#{serviceowner}
		,#{receptiondate}
		,#{custno}
		,#{clino}
		,#{servicestep}
		,#{owner}
		,#{siteid}
		,#{filesearchkey}
		,NOW()
		,#{reguser}
		,NOW()
		,#{edtuser}
		,#{servicetype}
		,#{servicecode1}
		,#{servicecode2}
		,#{servicechannel}
		,#{isdelete}
		,#{memo}
		,#{complete}
		)
		<selectKey keyProperty="serviceno"  resultType="integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="svUpdate" parameterType="serviceDto">
		UPDATE sv300010
			SET SERVICENAME = #{servicename}
			,SERVICEDESC = #{servicedesc}
			,SERVICEOWNER = #{serviceowner}
			,RECEPTIONDATE = #{receptiondate}
			,CUSTNO = #{custno}
			,CLINO = #{clino}
			,OWNER = #{owner}
			,FILESEARCHKEY = #{filesearchkey}
			,EDTDATE = NOW()
			,EDTUSER = #{edtuser}
			,SERVICETYPE = #{servicetype}
			,SERVICECODE1 = #{servicecode1}
			,SERVICECODE2 = #{servicecode2}
			,SERVICECHANNEL = #{servicechannel}
		WHERE SERVICENO = #{serviceno}
		AND SITEID = #{siteid}
	</update>
	
	<update id ="svDelete" parameterType="serviceDto">
		UPDATE sv300010
			SET EDTDATE = NOW()
				,EDTUSER = #{edtuser}
				,ISDELETE = 1
			WHERE SITEID = #{siteid}
			AND SERVICENO = #{serviceno}
	</update>
	
	<update id="svStep" parameterType="int">
		UPDATE sv300010
			SET SERVICESTEP = #{servicestep}
		WHERE SERVICENO = #{serviceno}
		AND SITEID = #{siteid}
	</update>
	
	<insert id="rewardInsert" parameterType="rewardDto">
		INSERT INTO sv300030
		(
		VISITDATE
		,VISITTIME
		,REWARDTYPE
		,CAUSECODE
		,DELAYTYPE
		,DELAYDESC
		,REWARDDESC
		,FILESEARCHKEY
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,SITEID
		,SERVICENO
		,VISITADDR1
		,VISITADDR2
		,VISITADDR3
		,OWNER
		)VALUES(
		#{visitdate}
		,#{visittime}
		,#{rewardtype}
		,#{causecode}
		,#{delaytype}
		,#{delaydesc}
		,#{rewarddesc}
		,#{filesearchkey}
		,NOW()
		,#{reguser}
		,NOW()
		,#{edtuser}
		,#{siteid}
		,#{serviceno}
		,#{visitaddr1}
		,#{visitaddr2}
		,#{visitaddr3}
		,#{owner}
		)
	</insert>
	
	<update id="rewardUpdate" parameterType="rewardDto">
	Update sv300030
		SET VISITDATE = #{visitdate}
			,VISITTIME = #{visittime}
			,REWARDTYPE = #{rewardtype}
			,CAUSECODE = #{causecode}
			,DELAYTYPE = #{delaytype}
			,DELAYDESC = #{delaydesc}
			,REWARDDESC = #{rewarddesc}
			,FILESEARCHKEY = #{filesearchkey}
			,EDTDATE = NOW()
			,EDTUSER = #{edtuser}
		WHERE SITEID = #{siteid}
		AND SERVICENO = #{serviceno}
		AND REWARDNO = #{rewardno}
	</update>
	
	<insert id="ractInsert" parameterType="ractDto">
		INSERT INTO sv300040
		(
		SERVICENO
		,RACTDATE
		,SENDYN
		,RACTDESC
		,FILESEARCHKEY
		,SITEID
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,RACTCODE
		)VALUES(
		#{serviceno}
		,#{ractdate}
		,#{sendyn}
		,#{ractdesc}
		,#{filesearchkey}
		,#{siteid}
		,NOW()
		,#{reguser}
		,NOW()
		,#{edtuser}
		,#{ractcode}
		)
	</insert>
	
	<update id="ractUpdate" parameterType="ractDto">
		UPDATE sv300040
			SET RACTDATE = #{ractdate}
				,SENDYN = #{sendyn}
				,RACTDESC = #{ractdes}
				,FILESEARCHKEY = #{filesearchkey}
				,EDTDATE = NOW()
				,EDTUSER = #{edtuser}
				,RACTCODE = #{ractcode}
		WHERE SITEID = #{siteid}
		AND SERVICENO = #{serviceno}
		AND RACTNO = #{ractno}
	</update>
	
	<select id="tabRact" parameterType="ractDto" resultType="HashMap">
		SELECT
		DATE_FORMAT(A.RACTDATE,'%Y-%m-%d') AS RACTDATE_
		, (SELECT USERNAME FROM me800010 WHERE USERNO = (SELECT OWNER FROM sv300010 WHERE SERVICENO = A.SERVICENO)) AS OWNER_
		, CASE WHEN A.RACTCODE = 1 THEN 'option1'
    		   WHEN A.RACTCODE = 2 THEN 'option2'
    		   WHEN A.RACTCODE = 3 THEN 'option3' END AS RACTCODE_
    	, CASE WHEN A.SENDYN = 0 THEN '미발송'
    		   WHEN A.SENDYN = 1 THEN '발송' END AS SENDYN_
    	,A.RACTDESC
    	FROM sv300040 A
    	WHERE A.SITEID = #{siteid}
    	AND A.SERVICENO = #{serviceno}
    	ORDER BY A.RACTNO DESC
    	LIMIT 5
	</select>
	
	<insert id="conveyInsert" parameterType="conveyDto">
		INSERT INTO sv300050
			(SERVICENO
			,PREVOWNER
			,NEXTOWNER
			,CONVEYREASON
			,CONVEYDATE
			,CONVEYDESC
			,REGDATE
			,REGUSER
			,EDTDATE
			,EDTUSER
			,SITEID
			)VALUES(
			#{serviceno}
			,#{prevowner}
			,#{nextowner}
			,#{conveyreason}
			,#{conveydate}
			,#{conveydesc}
			,NOW()
			,#{reguser}
			,NOW()
			,#{edtuser}
			,#{siteid}
			);
			
			UPDATE sv300010
			SET OWNER = #{nextowner}
				,EDTDATE = NOW()
				,EDTUSER = #{edtuser}
			WHERE SERVICENO = #{serviceno}
			AND SITEID = #{siteid};
			
			UPDATE sv300010
			SET SERVICESTEP = 5
			WHERE SERVICENO = #{serviceno}
			AND SITEID = #{siteid};
	</insert>
	
	<select id="tabConvey" parameterType="int" resultType="HashMap">
		SELECT A.CONVEYNO
			,A.SERVICENO
			,A.PREVOWNER
			,(SELECT USERNAME FROM me800010 WHERE A.PREVOWNER = USERNO) AS PREVOWNER_
			,A.NEXTOWNER
			,(SELECT USERNAME FROM me800010 WHERE A.NEXTOWNER = USERNO) AS NEXTOWNER_
			,(SELECT CODENAME FROM sys990020 WHERE CODEGRP = 'CONVEYREASON' AND SITEID = #{siteid} AND CODEVAL = A.CONVEYREASON) AS CONVEYREASON_
			,DATE_FORMAT(A.CONVEYDATE,'%Y-%m-%d') AS CONVEYDATE
			,A.CONVEYDESC
		FROM sv300050 A
		WHERE A.SERVICENO = #{serviceno}
		AND A.SITEID = #{siteid}
	</select>
	
	<select id="calList" parameterType="rewardDto" resultType="hashMap">
		SELECT
			A.SERVICENO AS id
			, CASE WHEN A.SERVICESTEP = 2 THEN CONCAT('[현상파악]', A.SERVICENAME)
		  		   WHEN A.SERVICESTEP = 3 THEN CONCAT('[이관]' , A.SERVICENAME)
		  		   WHEN A.SERVICESTEP = 4 THEN CONCAT('[처리]' , A.SERVICENAME)
		  		   WHEN A.SERVICESTEP = 5 THEN CONCAT('[종료]' , A.SERVICENAME) END AS title

			, CASE WHEN A.SERVICESTEP = 2 THEN DATE_FORMAT(B.VISITDATE,'%Y-%m-%d')
		  		   WHEN A.SERVICESTEP = 3 THEN DATE_FORMAT(D.CONVEYDATE,'%Y-%m-%d')
		  	   	   WHEN A.SERVICESTEP = 4 THEN DATE_FORMAT(C.RACTDATE,'%Y-%m-%d')
		  	   	   WHEN A.SERVICESTEP = 5 THEN DATE_FORMAT(A.EDTDATE,'%Y-%m-%d') END  'start'

			, CASE WHEN A.SERVICESTEP = 2 THEN '#FF33CC'
		 		   WHEN A.SERVICESTEP = 3 THEN '#CC33FF'
		 	   	   WHEN A.SERVICESTEP = 4 THEN '#9933FF'
		 	   	   WHEN A.SERVICESTEP = 5 THEN '#333333' END AS color
			, CASE WHEN A.SERVICESTEP = 2 THEN B.REWARDDESC
		 		   WHEN A.SERVICESTEP = 3 THEN D.CONVEYDESC
		 		   WHEN A.SERVICESTEP = 4 THEN C.RACTDESC
		 		   WHEN A.SERVICESTEP = 5 THEN A.SERVICEDESC END AS 'desc'
			,(SELECT USERNAME FROM me800010 WHERE USERNO = A.SERVICEOWNER) AS SERVICEOWNER_
			,(SELECT USERNAME FROM me800010 WHERE USERNO = A.OWNER) AS OWNER_
		FROM sv300010 A
		LEFT OUTER JOIN sv300030 B ON B.SERVICENO = A.SERVICENO
		LEFT OUTER JOIN (SELECT * FROM sv300040 WHERE RACTNO IN (SELECT max(ractno) AS ractno FROM sv300040 group by serviceno )) C ON C.SERVICENO = A.SERVICENO
		LEFT OUTER JOIN (SELECT * FROM sv300050 WHERE CONVEYNO IN (SELECT max(conveyno) AS conveyno FROM sv300050 group by serviceno )) D ON D.SERVICENO = A.SERVICENO
		WHERE A.SITEID = #{siteid}
		AND A.SERVICESTEP != 1
		AND A.ISDELETE = 0
	</select>
	
	<insert id="svGoodsInsert" parameterType="hashMap">
		INSERT INTO sv300060
		(
		SERVICENO
		 ,GOODSB
		 ,GOODSM
		 ,GOODSS
		 ,REGDATE
		 ,REGUSER
		 ,EDTDATE
		 ,EDTUSER
		 ,SITEID
		)VALUES(
		#{serviceno}
		,#{goodsb}
		,#{goodsm}
		,#{goodss}
		,NOW()
		,#{reguser}
		,NOW()
		,#{edtuser}
		,#{siteid}
		)
	</insert>
	
	<insert id="svReservInsert" parameterType="hashMap">
		INSERT INTO sv300070
		(
		SERVICENO
		,MOBILENO
		,RESERVDATE
		,RESERVTIMETO
		,RESERVTIMEFROM
		,COMPLETE
		,REGDATE
		,REGUSER
		,EDTDATE
		,EDTUSER
		,SITEID
		)VALUES(
		#{serviceno}
		,#{reservphone}
		,#{reservdate}
		,#{reservtimeto}
		,#{reservtimefrom}
		,#{complete}
		,NOW()
		,#{reguser}
		,NOW()
		,#{edtuser}
		,#{siteid}
		)
	</insert>
	
	<select id="topList" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM sv300010
		WHERE SITEID = #{siteid}
		AND CUSTNO = #{custno}
		order by SERVICENO DESC
		LIMIT 1
	</select>
	
	<select id="topReserv" parameterType="hashMap" resultType="hashMap">
		SELECT * FROM sv300070
		WHERE SITEID = #{siteid}
		and SERVICENO = #{serviceno}
		ORDER BY NO DESC
		LIMIT 1
	</select>
	
	<select id="topConvey" parameterType="hashMap" resultType="hashMap">
		SELECT A.*,(SELECT USERNAME FROM me800010 WHERE USERNO = A.NEXTOWNER ) AS NEXTOWNER_ FROM sv300050 A
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
		ORDER BY A.CONVEYNO DESC
		LIMIT 1
	</select>
	
	<select id="topReward" parameterType="hashMap" resultType="hashMap">
		SELECT DATE_FORMAT(A.VISITDATE,'%Y-%m-%d') AS VISITDATE,A.VISITADDR1,A.VISITADDR2,A.VISITADDR3,A.OWNER
				,(SELECT USERNAME FROM me800010 WHERE USERNO = A.OWNER) AS OWNER_ FROM sv300030 A
		WHERE A.SITEID = #{siteid}
		AND A.SERVICENO = #{serviceno}
		ORDER BY A.REWARDNO DESC
		LIMIT 1
	</select>
	
	<select id="rewardOwner" parameterType="rewardDto" resultType="hashMap">
		SELECT A.OWNER as id, (SELECT USERNAME FROM me800010 WHERE USERNO = A.OWNER) AS title
		,A.VISITDATE AS 'start'
		,A.REWARDDESC AS 'desc' 
		FROM sv300030 A
		WHERE A.SITEID = #{siteid}
	</select>
	
</mapper>